#el-aside {
  height: 700px;
}

#el-main {
  overflow: hidden;
}

.div {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.divPageSelectIcon {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: space-around;
  height: 300px;
}

.divPageSelectIconItem {
  border-radius: 16px;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
}

.divPageSelectIconItem img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px
}
